{{template "header.html" .}}
    <div class="container">
      <div class="panel">
        <h2>Privacy Policy</h2>
        <br>
        <p>I do not collect any information about you or your app usage.</p>
        <p>Some of my games and apps use third party services that may in turn collect this kind of information. You can review their privacy policies here:</p>
        <ul>
          <li><a href="https://www.google.com/intl/en/policies/privacy">Google</a></li>
          <li><a href="https://unity3d.com/legal/privacy-policy">Unity</a></li>
        </ul>
      </div>
    </div>
{{template "footer.html" .}}
